:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --tittle-text-color: #ffffff;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --primary-section-color: #2f303a;
  --secondary-section-color: #f5f4fa;
  --icon-color: #afb1b8;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --gradient-color: rgba(47, 48, 58, 0.4);
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  padding-top: 81px;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Section */

.section {
  padding: 94px 0;
}

/* No Padding */

.about--no-padding {
  padding-top: 0;
}

/* Link */

.link {
  text-decoration: none;
}

/* List */

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Title */

.title {
  color: var(--primary-text-color);
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
}

/* Hidden */

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Buttons */

.btn {
  font-family: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--tittle-text-color);
  border: none;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

/* Logo */

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--primary-text-color);
}

/* Header */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: var(--primary-background-color);
  margin: 0 auto;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
}

.header-logo {
  padding: 24px 0;
  margin-right: 93px;
}

.header-logo__accent {
  color: var(--accent-color);
}

/* Navigation */

.nav__main {
  display: flex;
  align-items: center;
}

.nav-list {
  display: inline-flex;
}

.nav-list__link {
  color: var(--primary-text-color);
  display: inline-flex;
  position: relative;
  padding: 32px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  outline: none;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.nav-list__link--current {
  color: var(--accent-color);
}

.nav-list__link::after {
  content: "";
  display: block;
  opacity: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -1px;
  border-radius: 2px;
  transition: opacity var(--transition-duration)
      var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}

.nav-list__link--current::after {
  content: "";
  opacity: 1;
}

.nav-list__link:hover::after,
.nav-list__link:focus::after {
  opacity: 1;
}

/* Address list */

.address-list {
  display: inline-flex;
  margin-left: auto;
}

.address-list__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  padding: 32px 0;
  display: flex;
  outline: none;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.nav-list__item:not(:last-child),
.address-list__item:not(:last-child) {
  margin-right: 50px;
}

.address-list__icon {
  fill: currentColor;
  margin-right: 10px;
}

.nav-list__link:hover,
.address-list__link:hover,
.address-list__icon:hover {
  color: var(--accent-color);
}

.nav-list__link:focus,
.address-list__link:focus,
.address-list__icon:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--primary-section-color);
  background-image: linear-gradient(
      to right,
      var(--gradient-color),
      var(--gradient-color)
    ),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  text-align: center;
}

.hero-title {
  color: var(--tittle-text-color);
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Feature */

.feature-list {
  display: flex;
}

.feature-list__item {
  max-width: 270px;
  margin-right: 30px;
}

.feature-list__icon {
  background-color: var(--secondary-section-color);
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.feature-list__item:nth-child(4) {
  margin-right: 0;
}

.feature-list__heading {
  color: var(--primary-text-color);
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-list__text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* About */

.about-list {
  display: flex;
}

.about-list__img {
  display: block;
}

.about-list__item {
  position: relative;
}

.about-list__item:not(:last-child) {
  margin-right: 30px;
}

.about-list__text {
  position: absolute;
  display: flex;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--tittle-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

/* Team */

.team {
  background-color: var(--secondary-section-color);
}

.team-card {
  display: flex;
}

.team-card__item {
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 270px;
  border-radius: 0px 0px 4px 4px;
}

.team-card__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-card__item:not(:last-child) {
  margin-right: 30px;
}

.team-card__info {
  padding: 30px 32px;
}

.team-card__name {
  color: var(--primary-text-color);
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
}

.team-card__position {
  color: var(--secondary-text-color);
  margin-bottom: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-social {
  display: flex;
  justify-content: center;
}

.team-social__icon:not(:last-child) {
  margin-right: 10px;
}

.team-social__link {
  fill: var(--icon-color);
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: fill var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}

.team-social__link:hover,
.team-social__link:focus {
  background-color: var(--accent-color);
  fill: var(--tittle-text-color);
}

/* Clients */

.clients-list {
  display: flex;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__link {
  display: flex;
  width: 170px;
  height: 92px;
  fill: var(--icon-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  outline: none;
  transition: fill var(--transition-duration) var(--transition-timing-function),
    border-color var(--transition-duration) var(--transition-timing-function);
}

.clients-list__link:hover,
.clients-list__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/* Perform */

.perform-card__list {
  display: flex;
  flex-wrap: wrap;
}

.perform-card__list-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-list__item:not(:last-child) {
  margin-right: 8px;
}

.btn-list__btn {
  background-color: var(--secondary-section-color);
  font-family: inherit;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  border: 0;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}

.btn-list__btn--active {
  background-color: var(--accent-color);
  color: var(--tittle-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-list__btn:hover,
.btn-list__btn:focus {
  background-color: var(--accent-color);
  color: var(--tittle-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.perform-card__list-link {
  display: block;
  text-decoration: none;
  outline: none;
  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}

.perform-card__list-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.perform-card__list-item:nth-child(3n) {
  margin-right: 0;
}

.perform-card__list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.perform-card__list-info {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.perform-card__list-name {
  color: var(--primary-text-color);
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.perform-card__list-platform {
  color: var(--secondary-text-color);
  line-height: 1.87;
}

.perform-card__list-overlay {
  position: relative;
  overflow: hidden;
}

.perform-card__list-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  transform: translateY(101%);
  color: var(--tittle-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.perform-card__list-link:hover,
.perform-card__list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.perform-card__list-link:hover .perform-card__list-text,
.perform-card__list-link:focus .perform-card__list-text {
  transform: translateY(0);
}

/* Footer */

.footer {
  background-color: var(--primary-section-color);
  padding: 60px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  color: var(--tittle-text-color);
  display: block;
  margin-bottom: 20px;
}

.footer-logo__accent {
  color: var(--accent-color);
}

.footer-address__text {
  color: var(--tittle-text-color);
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address__link {
  color: var(--footer-address-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  outline: none;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.footer-address__link:hover,
.footer-address__link:focus {
  color: var(--accent-color);
}

.footer-social {
  margin-left: 70px;
}

.footer-social__text {
  color: var(--tittle-text-color);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-social__list {
  display: flex;
}

.footer-social__link {
  display: flex;
  fill: var(--tittle-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  justify-content: center;
  align-items: center;
  outline: none;
  transition: fill var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}

.footer-social__icon:not(:last-child) {
  margin-right: 10px;
}

.footer-social__link:focus,
.footer-social__link:hover {
  background-color: var(--accent-color);
}

.footer-form {
  margin-left: auto;
}

.footer-form__label {
  display: inline-block;
}

.footer-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: inherit;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #2f303a inset;
  caret-color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-input::placeholder {
  line-height: 1.25;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  margin-left: 12px;
}

.footer-btn__icon {
  margin-left: 10px;
}

/* Modal */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 1;
  transition: opacity var(--transition-duration)
    var(--transition-timing-function);
}

.modal-backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-backdrop--hidden > .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.modal-btn__close {
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-background-color);
  align-items: center;
  cursor: pointer;
  outline: none;
  transition: fill var(--transition-duration) var(--transition-timing-function),
    transform var(--transition-duration) ease-in-out,
    border-color var(--transition-duration) var(--transition-timing-function);
}

.modal-btn__close:focus,
.modal-btn__close:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
  transform: rotate(90deg);
}

/* Form Feedback*/

.feedback {
  padding: 40px;
}

.feedback-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.feedback-label {
  position: relative;
  display: block;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
}

.feedback-label__text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.feedback-label__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}

.feedback-label__icon {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(12px, 28px);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.feedback-label:hover,
.feedback-label__input:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.feedback-label:focus-within > .feedback-label__input,
.feedback-label:focus-within > .feedback-label__icon {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.textarea {
  margin-bottom: 20px;
}

.feedback-label__textarea {
  resize: none;
  display: block;
  width: 100%;
  height: 120px;
  font-size: 12px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--transition-duration)
    var(--transition-timing-function);
}

.feedback-label__textarea:hover,
.feedback-label__textarea:focus {
  border-color: var(--accent-color);
}

.feedback-label__textarea::placeholder {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.feedback-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  text-align: center;
}

.feedback-checkbox__icon {
  margin-right: 7px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  background-color: var(--primary-background-color);
  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    border-color var(--transition-duration) var(--transition-timing-function);
}

.feedback-checkbox__input:checked + .feedback-checkbox__icon {
  margin-right: 7px;
  border: 2px solid transparent;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.feedback-checkbox__input:focus-within + .feedback-checkbox__icon {
  border: 2px solid var(--accent-color);
}

.feedback-checkbox__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.feedback-checkbox__agreement {
  font-size: 14px;
  line-height: 1.71;
  text-decoration-skip-ink: none;
  color: var(--accent-color);
}

.feedback-submit__btn {
  display: block;
  margin: 0 auto;
}

/* Back to top button */

.back__top {
  background-color: var(--icon-color);
  width: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  transition: background-color var(--transition-duration)
      var(--transition-timing-function),
    opacity var(--transition-duration) var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function);
  opacity: 0;
  visibility: hidden;
  text-decoration: none;
  cursor: pointer;
}
.back__top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
.back__top:hover,
.back__top:focus {
  background-color: var(--accent-color);
}
.back__top.show {
  opacity: 1;
  visibility: visible;
}

/* Header change */

.header--change {
  background-color: rgba(47, 48, 58, 0.9);
  border-bottom: 1px solid rgba(47, 48, 58, 0.9);
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.header-logo--change {
  color: var(--tittle-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.nav-list__link--change {
  color: var(--tittle-text-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.nav-list__link--current--change {
  color: var(--accent-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.address-list__link--change {
  color: var(--footer-address-color);
  transition: color var(--transition-duration) var(--transition-timing-function);
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--icon-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary-text-color);
}
