.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  .header & {
    display: flex;
  }

  .hero & {
    width: 696px;
    padding: 0;
  }

  .footer & {
    display: flex;
    align-items: baseline;
    text-align: start;
  }
}
