/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: $primary-icon-color;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: $secondary-text-color;
}
