$current-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;

$primary-background-color: #ffffff;
$secondary-background-color: rgba(47, 48, 58, 0.8);
$accent-background-color: rgba(33, 150, 243, 0.9);
$icon-background-color: rgba(255, 255, 255, 0.1);
$change-background-color: rgba(47, 48, 58, 0.9);

$primary-section-color: #2f303a;
$secondary-section-color: #f5f4fa;

$primary-text-color: #212121;
$secondary-text-color: #757575;
$light-text-color: #ffffff;
$footer-address-color: rgba(255, 255, 255, 0.6);

$accent-color: #2196f3;

$icon-color: #afb1b8;

$primary-border-color: #afb1b8;
$secondary-border-color: rgba(255, 255, 255, 0.3);
$light-border-color: #eeeeee;
$border-btn-color: rgba(0, 0, 0, 0.1);
$border-input-color: rgba(33, 33, 33, 0.2);
$change-border-color: rgba(47, 48, 58, 0.9);

$primary-placeholder-color: rgba(117, 117, 117, 0.5);
$secondary-placeholder-color: rgba(255, 255, 255, 0.6);

$gradient-color: rgba(47, 48, 58, 0.4);

$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
